/*
#01493A Verde escuro
#498C58 Verde Claro
#ffDE84 Cor Soja
#77BD1F Cor verde(igual o logo)
*/

/* Toda a página fica com margem = 0, e com a fonte estilo poppins */
* {
    margin: 0;
    font-family: 'poppins', sans-serif;
}

/* Define a cor do que é digitado como branco */
input{
    color: #ffffff;
}

/* Detalhes sobre o corpo da página */
body {
    background-image: url("assets/img/fundo.png");
    background-position: center;  /* Mantem a imagem de fundo no centro da tela */
    background-size: 100%;  /* Mantém o tamanho da tela em 100% */
    background-repeat: no-repeat; /* Mantém o background sem repetir a imagem de fundo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container que contém todo o conteúdo */
.containerMae {
    display: flex;
    flex-direction: column;
}

/* Destalhes do titulo "CALCULE SEU PREJUÍZO" */
.title {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
}

/* Detalhes sobre o logo 7Sojas */
.logo {
    width: 10vw;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

/* Container geral, contém os outros 2 containers(esquerdo e direito) */
.containerFilhos {
    background-color: transparent;
    border-radius: 10px;  /* Arredonda a borda em 15px */
    padding: 20px; /* Distãncia da bordao conteudo dentro */
    width: 700px;
    display: flex;
    color: #ffffff;
}

/*(container esquerdo) Container das inputs botão*/
.containerFilho1 {
    border-radius: 10px;
    padding: 10px;
    width: 340px;
}

/* (container direito) Container onde aparece a foto(antes de clicar no botão) e a resposta(após clicar no botão)*/
.containerFilho2 {
    border-radius: 10px;
    padding: 20px; /* Distãncia da bordao conteudo dentro */
    width: 340px;
    display: flex;
    flex-direction: end;
    align-items: center;
    justify-content: center;
}

/* Aplica 20px de margem na parte de baixo */
.conteudo {
    margin-bottom: 20px;
}

/* Detalhes sobre as inputs */
.conteudo input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #36615f; /* Estiliza somente a borda inferior para que fique como uma linha */
    width: 90%;
    padding: 10px;
    font-size: 16px;
    outline: none; /* Define que não terá borda na input */
}

/* Detalhes sobre a estilização do botão */
.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #77BD1F;
    color: white;
    padding: 10px;    /* Distãncia da borda do botão para o que esta escrito nele */
    border-radius: 15px;  /* Arredonda a borda em 15px */
    margin-left: 70px;  /* Cria uma margem do lado esqeurdo de 70px */
    font-weight: 900; /* Torna a grossura da fonte em bold 900 */
}

/* Detalhes sobre as dimensões da imagem no containerFilho2 */
#imagem {
    height: 300px;
    width: 300px;
}

/* Fução que faz a imagem ficar escondida */
.hidden {
    display: none;
}

/* Função que torna o resultado branco */
.result{
    color: #ffffff;
}